body {
	margin:0;
	padding:0;
	border:none;
	font: 11px/1.5 Verdana, Arial, Helvetica, sans-serif;
	background:#ffe;
	color:#333;
	text-align:center;
	}
#principal {
	background:#ffe;
	}
#tudo {
	width:100%;
	height:auto;     
	margin:0 auto;
	text-align:left;
	}
#nav {
	vertical-align:top;
	height:40px;
	background:url(../images/fundomenu.png)
}
#topo {
	height:140px;
	background:url(../images/fundocima.png);
	border-bottom:1px solid #c30;
	}
#rodape {
	clear:both;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-align:center;
	border-top:1px solid #c30;
	background:url(../images/fundorodape.png)
	}
ul, ol {
	margin:0;
	padding:0;
	list-style:none;
	}
h1, h2, h3 {
	margin: 0.8em 0;
	color:#c30;
	font-size:1.4em;
	}
h2 {
	font-size:1.2em;
	}
h3 {
	font-size:1.0em;
	}
	
.dest {
	color:#039;
	}
.cadastrado {
	font-size:14px;
	color:#000033;
}
.emailjaexiste {
	color:#FF0000;
	}